// フォントファミリ

$ja-font: '游ゴシック体',
'ヒラギノ角ゴ ProN',
sans-serif;
$en-font: 'Lato',
'Arial',
'serif';

// フォントサイズ
$global_menu: 16px;


$article_text: 15px;
$article_h1: 35px;
$article_h2: 24px;
$article_h3: 18px;

// line-height

$article_text-lh: 1.8;
$article_item-title-lh: 1.5;

// letter-spacing

$default-space: .2em;
$global_space: .1em;