@use '../global'as global;

.article-post {
  margin-top: 50px;
  margin-bottom: 280px;
  width: 100%;

  &__inner {
    max-width: 720px;
  }

  &__thumbnail {
    width: 100%;
    height: 350px;
    margin-bottom: 70px;

    img {
      object-fit: cover;
      height: 100%;
    }
  }

  &__heading {
    margin-bottom: 50px;
  }

  &__post-info {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
  }

  &__user-icon {
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    user-select: none;
    color: #000;
    margin-right: 14px;
    height: 40px;

    img {
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__user-post-info {
    font-size: 14px;
  }

  &__user-name {
    color: #000;
  }

  &__post-time {
    display: block;
    font-size: 12px;
    letter-spacing: .8px;
    color: rgba(0, 0, 0, 0.514);
  }

  &__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 15px;
    line-height: 1.5;
    letter-spacing: .1em;
  }

  &__content {
    line-height: 1.75;
    letter-spacing: .8px;
    font-size: 18px;
    margin-bottom: 100px;
  }
}

.article-comment {
  margin-bottom: 100px;

  &.l-inner {
    max-width: 720px;
  }

  &__heading {
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    padding-left: 20px;
    padding-bottom: 20px;

    &-title {
      font-size: 18px;
      font-weight: bold;
    }
  }

  &__body {
    // margin-bottom: 25px;
  }

  &__footer {
    margin-bottom: 200px;
  }
}

.user-comment {
  padding: 20px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);

  &__heading {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    &-left {
      display: flex;
      align-items: center;
    }

    &-right {
      display: flex;
      align-items: center;
      margin-left: auto;

      time {
        font-size: 14px;
        margin-right: 10px;
      }
    }

    &-menu {
      width: 30px;
      height: 30px;

      &-btn {
        background-color: transparent;

        &:hover {
          cursor: pointer;
          opacity: .5;
        }
      }
    }
  }

  &__profile-img {
    width: 35px;
    height: 35px;
    margin-right: 10px;

    img {
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__profile-name {
    font-size: 15px;
  }

  &__img {
    width: 100%;
    height: 350px;
    margin-bottom: 20px;

    img {
      object-fit: cover;
    }
  }

  &__content {
    &-text {
      font-size: 14px;
      line-height: 1.7;
    }
  }
}

.comment-form {
  padding: 20px;

  &__heading {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
  }

  &__body {
    margin-bottom: 20px;
  }

  &__text {
    width: 100%;
    height: 150px;
    padding: 10px;
    resize: none;
  }

  &__footer {
    display: flex;
    align-items: center;
  }

  &__img {
    &-btn {
      padding: 8px 14px;
      background-color: #E9ECEE;
      border: solid 1px #000;

      &:hover {
        cursor: pointer;
        opacity: .8;
      }
    }

    input[type="file"] {
      display: none;
    }
  }

  &__submit {
    margin-left: auto;
  }
}


